<div class="settings">
  <div class="heading_message">
    Select a campaign to support. Donors will pledge to the selected campaign.
  </div>
  <form id="settings-form">
    <% Campaign.all.each do |campaign| %>
        <div>
          <input type="radio" id="<%= campaign.html_id %>" class="campaign_radio" data-id="<%= campaign.id %>">
          <label for="<%= campaign.html_id %>"><%= campaign.title %></label>
        </div>
    <% end %>
  </form>
</div>