<div id="header">
  <div class="top_image">
    <%= image_tag "/images/top_banner.png", :id=>'banner-img' %>
    <div class="title">
      Free The Children
    </div>
  </div>

  <ul id='tabSelector' class='base-tabs clearfix'>
    <li><a href="#">PAST DONORS</a></li>
    <li class="on"><a href="#">MAKE A PLEDGE</a></li>
  </ul>
</div>
<div id="container">
  <div id='gallery'>
    <div id='tabs'>
      <ul>
        <%= render :partial => "dashboard" %>
        <%= render :partial => "pledge" %>
      </ul>
    </div>
  </div>

  <%= render :partial => "settings" %>

  <div id="settings">
    <a href="#" class="go-to-settings"></a>
    <a href="#" class="go-to-pledge"></a>
  </div>
</div>