<div id="container">
    <header>
      <h1>Swipe</h1>
    </header>

    <div id='gallery'>
      <ul id='tabSelector' class='base-tabs'>
        <li><a href="#">DASH</a></li>
        <li class="on"><a href="#">PLEDGE</a></li>
      </ul>
      <div id='tabs'>
        <ul>
          <%= render :partial => "dashboard" %>
          <%= render :partial => "pledge" %>
        </ul>
      </div>
    </div>

    <%= render :partial => "settings" %>

    <div id="settings">
      <a href="#" class="go-to-settings"></a>
      <a href="#" class="go-to-pledge"></a>
    </div>
</div>