Thanks for the pledge <%= @pledge.full_name %>!

To finish the pledge and donate, click <%= link_to "here", "http://www.freethechildren.com/donate/" %>.

<h3>
  About <%= @pledge.charity_name %>
</h3>

<div>
  <%= @pledge.charity_text %>
</div>