@import "base";

.dash {
    text-align: center;
    
    #number_container {
        margin: 0 auto;
        display: inline-block;
        
        .number {
            background: url("/images/numberback.png") no-repeat;
            width: 100px;
            height: 160px;

            color: white;
            font-size: 150px;
            font-weight: bold;

            text-align: center;
            margin-right: 3px;
            line-height: 0.92;

            float: left;
        }
    }
    .pledges_header {
        margin: 0 auto;
        font-weight: bold;
        font-size: 40px;
    }

    #mapContainer {
        margin: 0 auto;

        width:90%;
    }
}