@import "base";

ul {
    margin:0;
    padding:0;
}

body {
    @include body_text;
}

.top_image {
    position: relative;

    .title {
        position: absolute;
        left: 0;
        bottom: 0;
        @mixin main_header { font-weight: 800; color:$red; font-family: Futura, "Trebuchet MS", Arial, sans-serif;}
    }
}

#tabSelector {
    background-color: $red;
}

#settings{
    .go-to-settings,
    .go-to-pledge {
        display:block;
        background:$grey;
        width:16px;
        height:16px;
        position:fixed;
        bottom:0;
        right:0;
    }
}