@import "base";

ul {
    margin:0;
    padding:0;
}

body {
    @include body_text;
}

.top_image {
    position: relative;
}

#tabSelector {
    background-color: $red;
}

#settings{
    .go-to-settings,
    .go-to-pledge {
        display:block;
        background:$grey;
        width:16px;
        height:16px;
        position:fixed;
        bottom:0;
        right:0;
    }
}