@import "base";

#pledge {
    form {

        .form_fields div {
            @include body_header;
            margin:5px 0;
        }

        .submit {
            margin-top: 10px;
            @include light_blue_button;
        }
    }
}

#pledge_full_name,
#pledge_email,
#pledge_amount  {
    padding:1%;
    width:93%;
    font-size:14px;
}
.submit {
    border:0;
}