@import "base";
#container {
    background:#d5d5d5;
	padding:2%;
}

#banner-img {
	width:100%;
}

#ftc {
	width:75%;
}

#tabSelector {
    margin:0;
    padding:0;
    list-style:none;

    li {
        float:left;
        display:inline;
        width: 50%;
    }

    a {
        display:block;
        color:#ffffff;
        text-decoration:none;
		background:url('/images/nav_unselected_skinny.png') repeat-x;
		text-align:center;
        width:100%;
		height:39px;
		padding-top:19px;
font-size: 11px;
    }

	li.on a {
		background:url('/images/nav_selected_skinny.png') repeat-x;
	}

}

#settings{
    .go-to-settings,
    .go-to-pledge {
        display:block;
        background:url('/images/icon_settings-2.png') no-repeat;
        width:25px;
        height:25px;
        position:fixed;
        bottom:5px;
        right:15px;
    }
}

#tabs li {
	@include rounded-corners(5px);
	border:1px solid #dddddd;
}

.dash,
.pledge,
.settings {
    padding:1%;
    background:#fdfdfd;
}