@import "base";
#container {
    background:#d5d5d5;
	padding:2%;
}

#banner-img {
	width:158px;
}

#ftc {
	width:90px;
}

#tabSelector {
    margin:0;
    padding:0;
    list-style:none;

    li {
        float:left;
        display:inline;
    }

    a {
        display:block;
        color:#ffffff;
        text-decoration:none;
		background:url('/images/nav_unselected.png') no-repeat;
		text-align:center;
		width:158px;
		height:39px;
		padding-top:19px;
font-size: 11px;
    }

	li.on a {
		background:url('/images/nav_selected.png') no-repeat;
	}

}

#settings{
    .go-to-settings,
    .go-to-pledge {
        display:block;
        background:url('/images/icon_settings.png') no-repeat;
        width:25px;
        height:25px;
        position:fixed;
        bottom:0;
        right:0;
    }
}

#tabs li {
	@include rounded-corners(5px);
	border:1px solid #dddddd;
}

.dash,
.pledge,
.settings {
    padding:1%;
    background:#fdfdfd;
}